<div class="container-fluid">
   <div class="page-title">
      <div class="row">
         <div class="col-6">
            <h3><%= breadcrumbName %></h3>
         </div>
         <div class="col-6">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index">
                     <svg class="stroke-icon">
                        <use href="/assets/svg/icon-sprite.svg#stroke-home"></use>
                     </svg></a></li>
               <li class="breadcrumb-item"><%= breadcrumbPath %></li>
               <li class="breadcrumb-item active"><%= breadcrumbName %> </li>
            </ol>
         </div>
      </div>
   </div>
</div>