<!DOCTYPE html>
<html lang="en">

<%- include('../../../components/landing/head') %>

<body class="landing-page service-item-page">
  <div class="landing-page1">
    <div class="sticky-header"><%- include('../../../components/landing/header') %></div>
  </div>

  <section class="section-space service-item-section">
    <div class="container text-start py-4">
      <div class="row align-items-start g-4">
        <div class="col">
          <h1 class="h2 mb-3">EV Recharge</h1>
          <p class="lead text-muted mb-0">EV charging</p>
        </div>
      </div>
    </div>
  </section>

<%- include('../../../components/landing/footer') %>
<%- include('../../../components/landing/scripts') %>
</body>

</html>
