<section class="security-section section-space">
    <div class="container-fluid" style="width: 80%;">
        <div class="crypto-get-strated-area">
            <div class="row">
                <div class="col-sm-12">
                    <div class="landing-title text-center">
                        <h2 class="text-white">Your Security is <span class="gradient-13">Our Priority </span> today</h2>
                        <p class="text-white">We use advanced technology and industry-grade protection to keep your data and transactions safe—every step of the way.</p>
                    </div>
                    <!-- <div class="vector-image"> 
                        <img src="/assets/images/landing/vectors/4.svg" alt="vector women">
                        
                    </div> -->
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="crypto-get-strated-image">
                        <img alt="image" loading="lazy" 
                            decoding="async" data-nimg="1"
                            src="/assets/images/security.svg"
                            style="color: transparent;"></div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row gy-4">
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-content service-box">
                                <img class="img-fluid service-shape" src="../assets/images/shape/2.webp" alt="shape">
                                <div class="service-icon-box">
                                    <img src="../assets/images/sass/service/icons/3.webp" alt="icon">
                                </div>
                                <div class="service-content-wrap">
                                    <h3>End-to-End Encryption</h3>
                                    <p>Your data is encrypted from start to finish. Only you and the intended destination can access it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-content service-box">
                                <img class="img-fluid service-shape" src="../assets/images/shape/2.webp" alt="shape">
                                <div class="service-icon-box">
                                    <img src="../assets/images/sass/service/icons/4.webp" alt="icon">
                                </div>
                                <div class="service-content-wrap">
                                    <h3>Secure Payment Gateways</h3>
                                    <p>All transactions are processed through trusted, certified systems. Ensuring safe and seamless payments every time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-content service-box">
                                <img class="img-fluid service-shape" src="../assets/images/shape/2.webp" alt="shape">
                                <div class="service-icon-box">
                                    <img src="../assets/images/sass/service/icons/5.webp" alt="icon">
                                </div>
                                <div class="service-content-wrap">
                                    <h3>Data Privacy Protection</h3>
                                    <p>Your personal information is never shared without consent. We follow strict privacy standards to safeguard your data.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-content service-box">
                                <img class="img-fluid service-shape" src="../assets/images/shape/2.webp" alt="shape">
                                <div class="service-icon-box">
                                    <img src="../assets/images/sass/service/icons/3.webp" alt="icon">
                                </div>
                                <div class="service-content-wrap">
                                    <h3>Fraud Detection Systems</h3>
                                    <p>Real-time monitoring detects suspicious activity instantly. Keeping your account protected 24/7.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>