<%- contentFor('css') %>
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/dropzone.css">

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Single File Upload</h5>
        </div>
        <div class="card-body">
          <form class="dropzone" id="singleFileUpload" action="/upload.php">
            <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
              <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Multi File Upload</h5>
        </div>
        <div class="card-body">
          <form class="dropzone dropzone-primary" id="multiFileUpload" action="/upload.php">
            <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
              <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>File Type Validation</h5>
        </div>
        <div class="card-body">
          <form class="dropzone dropzone-info" id="fileTypeValidation" action="/upload.php">
            <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
              <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/slick/slick.min.js"></script>
<script src="/assets/js/slick/slick.js"></script>
<script src="/assets/js/header-slick.js"></script>
<script src="/assets/js/dropzone/dropzone.js"></script>
<script src="/assets/js/dropzone/dropzone-script.js"></script>
<script src="/assets/js/tooltip-init.js"></script>