<%- contentFor('css') %>
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Example</h5>
        </div>
        <div class="card-body">
          <div id="timeline-2">
            <div data-year="2010">Start</div>
            <div class="active" data-year="2011">Lorem is simply dummy text of the printing and typesetting industry. the printing and typesetting industry.</div>
            <div data-year="2013">Lorem is simply dummy text of the printing and typesetting industry. </div>
            <div data-year="2014">Lorem is simply dummy text of the printing and typesetting industry.</div>
            <div data-year="2015">Lorem is simply dummy text of the printing and typesetting industry.</div>
            <div data-year="2017">Lorem is simply dummy text of the printing and typesetting industry.</div>
            <div data-year="2018">End.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/slick/slick.min.js"></script>
<script src="/assets/js/slick/slick.js"></script>
<script src="/assets/js/header-slick.js"></script>
<script src="/assets/js/timeline/timeline-v-2/jquery.timeliny.min.js"></script>
<script src="/assets/js/timeline/timeline-v-2/timeline-v-2-custom.js"></script>