.about-style-3 .about-content .title-style-2 .h2:after,
.about-style-3 .about-content .title-style-2 h2:after {
    left: 0
}

@media (max-width:991.98px) {

    .about-style-3 .about-content .title-style-2 .h2,
    .about-style-3 .about-content .title-style-2 h2 {
        margin-top: -.5625rem
    }
}

@media (max-width:575.98px) {

    .about-style-3 .about-content .title-style-2 .h2,
    .about-style-3 .about-content .title-style-2 h2 {
        margin-top: -.4375rem
    }
}

.about-style-3 .about-content p {
    margin-block: 1.875rem
}

@media (max-width:767.98px) {
    .about-style-3 .about-content p {
        margin-block: 1.25rem
    }
}

.about-style-3 .about-content a svg {
    font-size: .75rem
}

.about-style-3 .left-image {
    margin-top: -38%
}

@media (max-width:575.98px) {
    .about-style-3 .left-image {
        display: none
    }
}

@media (min-width:576px) {
    .about-style-3 .about-image-wrapper {
        margin-bottom: -1.625rem
    }
}

@media (max-width:991.98px) {
    .about-style-3 .row>div:last-child {
        order: -1
    }
}

.about-wrapper {
    position: relative
}

@media (max-width:991.98px) {
    .about-wrapper .about-section .about-image {
        text-align: center
    }
}

.about-wrapper .about-section .about-image img {
    animation: up-down 3s infinite;
    height: 35.5625rem
}

@media (max-width:1399.98px) {
    .about-wrapper .about-section .about-image img {
        height: 26rem
    }
}

@media (max-width:1199.98px) {
    .about-wrapper .about-section .about-image img {
        height: 22.8125rem
    }
}

@media (max-width:400px) {
    .about-wrapper .about-section .about-image img {
        height: 15rem
    }
}

.about-wrapper .about-section .about-content {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 1.875rem
}

@media (max-width:991.98px) {
    .about-wrapper .about-section .about-content {
        padding: .625rem .625rem 0
    }
}

.about-wrapper .about-section .about-content .title-style-4 {
    padding-bottom: 0
}

.about-wrapper .about-section .about-content .title-style-4 .h2,
.about-wrapper .about-section .about-content .title-style-4 h2 {
    line-height: 1.3;
    padding-bottom: .75rem
}

.about-wrapper .about-section .about-content ul {
    padding-bottom: 1.5625rem;
    padding-top: 1rem
}

@media (max-width:400px) {
    .about-wrapper .about-section .about-content ul {
        padding-bottom: 1.25rem;
        padding-top: .75rem
    }
}

.about-wrapper .about-section .about-content ul li {
    align-items: center;
    display: flex;
    gap: .625rem;
    padding-bottom: 1.25rem
}

@media (max-width:400px) {
    .about-wrapper .about-section .about-content ul li {
        padding-bottom: .875rem
    }
}

.about-wrapper .about-section .about-content ul li:last-child {
    padding-bottom: 0
}

.about-wrapper .about-section .about-content ul li svg {
    height: 1.125rem;
    width: 1.125rem
}

@media (max-width:991.98px) {
    .about-wrapper .about-section .about-content .btn {
        padding: .4375rem .75rem
    }
}

.about-wrapper>img {
    height: 36.25rem;
    position: absolute;
    right: 5.4375rem;
    top: 2.1875rem
}

@media (max-width:1700px) {
    .about-wrapper>img {
        height: 33.75rem;
        right: 4.6875rem
    }
}

@media (max-width:1600px) {
    .about-wrapper>img {
        height: 30.3125rem;
        right: 2.5rem;
        top: 5.625rem
    }
}

@media (max-width:1500px) {
    .about-wrapper>img {
        height: 26.5625rem
    }
}

@media (max-width:1445px) {
    .about-wrapper>img {
        height: 23.75rem;
        right: 1.5rem;
        top: 5.125rem
    }
}

@media (max-width:1060px) {
    .about-wrapper>img {
        display: none
    }
}