<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof pageTitle !== 'undefined' && pageTitle ? pageTitle + ' | Varnarc' : 'Varnarc | One Platform for All Your Financial Needs' %></title>
    <meta name="description"
        content="<%= typeof pageDescription !== 'undefined' && pageDescription ? pageDescription : 'Varnarc helps you recharge, invest, trade, insure, and manage money in one secure fintech platform.' %>" />
    <meta name="keywords" content="fintech, recharge, bills, mutual funds, trading, insurance, digital gold, Varnarc" />
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/icofont.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/assets/svg/landing-icons.svg">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css"><!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css"><!-- App css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/varnarc-buttons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/customer-review.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-header.css"><!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/banner-style-3.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-intro.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-categories.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-jobs.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/security.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-footer.css"><!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/footer-strips.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/refer-earn-card.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/download-app-section.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/legal-page.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <!-- <script defer src="/assets/css/color-1.js"></script>
    <script defer src="/assets/css/color-2.js"></script>
    <script defer src="/assets/css/color-3.js"></script>
    <script defer src="/assets/css/color-4.js"></script>
    <script defer src="/assets/css/color-5.js"></script>
    <script defer src="/assets/css/color-6.js"></script> -->
    <script defer src="/assets/css/responsive.js"></script>
    <script defer src="/assets/css/style.js"></script>
    <!-- <link href="/assets/css/color-1.css" rel="stylesheet">
    <link href="/assets/css/color-2.css" rel="stylesheet">
    <link href="/assets/css/color-3.css" rel="stylesheet">
    <link href="/assets/css/color-4.css" rel="stylesheet">
    <link href="/assets/css/color-5.css" rel="stylesheet">
    <link href="/assets/css/color-6.css" rel="stylesheet"> -->
</head>