<section class="customization-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="landing-title text-start">
                    <h5 class="sub-title">App Customization</h5>
                    <h2> <span class="gradient-3">Real-time </span> customization & preview</h2>
                    <p class="m-0">Customize your dashboard, services, and workflows instantly with live preview—no technical skills required.</p>
                </div>
                <div class="customization-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne"><button class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">Sidebar Builder</button></h2>
                            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body f-light">Cuba admin provide two types of sidebar variation
                                    which is horizontal and vertical sidebar.you can check sidebar type customization
                                    option in our template</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo"><button class="accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo">Unlimited color</button></h2>
                            <div class="accordion-collapse collapse show" id="collapseTwo" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body f-light">Change primary and secondary theme colors using this
                                    customization option.we are providing this settings for primary and secondary colors
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">Layout type</button></h2>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body f-light"> Cuba admin provides two layouts which is rtl and
                                    box layout. Also supports dark layout.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="customization-img"> <img class="img-fluid" src="/assets/images/landing/customiztion.svg"
                        alt=""></div>
            </div>
        </div>
    </div>
</section>