<section class="section-space premium-wrap">
    <div class="container">
        <ul class="decoration">
            <li class="flower-gif">
                <div class="mesh-loader">
                    <div class="set-one">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="set-two">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </li>
            <li class="wavy-gif"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 38">
                    <path fill="none" stroke-width="10" stroke-miterlimit="10"
                        d="M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29">
                    </path>
                </svg></li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="landing-title">
                    <h5 class="sub-title">Faster, Lighter & Dev. Friendly</h5>
                    <h2> <span class="gradient-1">Trusted by Thousands. </span> Built for Scale.</h2>
                    <p>Powering seamless payments, smart investments, and financial growth — all in one platform.</p>
                </div>
                <div class="vector-image"> <img src="/assets/images/landing/vectors/1.svg" alt=""></div>
            </div>
            <div class="col-xxl-8">
                <div class="row g-lg-5 g-3">
                    <div class="col-md-3 col-6">
                        <div class="benefit-box pink"><svg>
                                <use href="/assets/svg/landing-icons.svg#tag"></use>
                            </svg>
                            <h2 class="mb-0">1M+</h2>
                            <h6 class="mb-0">Active Users</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="benefit-box purple"><svg>
                                <use href="/assets/svg/landing-icons.svg#ratings"></use>
                            </svg>
                            <h2 class="mb-0">₹500Cr+</h2>
                            <h6 class="mb-0">Transactions Processed</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="benefit-box red"><svg>
                                <use href="/assets/svg/landing-icons.svg#user_circle"></use>
                            </svg>
                            <h2 class="mb-0">100K+</h2>
                            <h6 class="mb-0">Investments Made</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="benefit-box warning"><svg>
                                <use href="/assets/svg/landing-icons.svg#gear"></use>
                            </svg>
                            <h2 class="mb-0">99.9%</h2>
                            <h6 class="mb-0">Secure Transactions</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>