<section class="build-section">
    <div class="container">
        <ul class="decoration">
            <li class="loader-gif"><span class="loader-1"> </span></li>
        </ul>
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="landing-title text-start">
                    <h2>Build stunning and powerful landing page with <span class="gradient-6">customizable and easy
                        </span> to understand.</h2><img class="title-img d-sm-block d-none"
                        src="/assets/images/landing/decore/arrow-4.svg" alt="">
                    <h4 class="d-sm-block d-none sub-title rotate-title mb-0">The Biggest template Collection Ever
                        Build.</h4>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="build-image"> <img src="/assets/images/landing/sale.png" alt=""></div>
            </div>
            <div class="col-md-6">
                <div class="build-content text-end">
                    <p class="f-light mb-0">Create unique combinations using a variety of section blocks from the
                        ultimate collection of design created by world-class designers.import a pre-built section block
                        with a single click or save your own custom block to reuse on other pages.</p>
                </div>
            </div>
        </div>
    </div>
</section>