<section class="section-space cuba-demo-section layout pt-0" id="layout">
    <div class="container">
        <ul class="decoration">
            <li class="line-gif"><img src="/assets/images/landing/gifs/3.gif" alt=""></li>
            <li class="wavy-line-gif"><img src="/assets/images/landing/gifs/4.gif" alt=""></li>
        </ul>
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content">
                    <div class="couting">
                        <h2>12</h2>
                    </div>
                    <div class="landing-title">
                        <h5 class="sub-title">Fast, secure, and easy to use</h5>
                        <h2> <span class="gradient-2">Designed for Simplicity. </span> Built for Everyday Use.</h2>
                        <p>A clean and intuitive interface that makes managing your payments fast and effortless.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fluid-space">
        <div class="row demo-imgs g-xl-5 g-sm-3">
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 1 - </span>Dubai</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/dubai.jpg" alt="default"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="default-view" href="/index" data-attr="default"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Dubai" target="_blank">
                                <img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=dubai"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=dubai" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=dubai" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Dubai"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/dubai.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=dubai"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=dubai"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=dubai" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=dubai"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Dubai" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 2 - </span>Paris</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/paris.jpg" alt="classicSidebar"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html paris-view" href="/index?layout=paris"
                                target="_blank" data-attr="dark-sidebar"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Paris"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=paris"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=paris" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=paris" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Paris"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/paris.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=paris"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=paris"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=paris" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Paris" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=paris" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Paris"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 3 - </span>Los Angeles</h3><svg class="title-svg"
                            width="51" height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/los-angle.png" alt="material"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html los-view" href="/index?layout=los_angeles"
                                target="_blank" data-attr="material-layout"> <img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=LosAngeles"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=los-angeles"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=los_angeles" target="_blank">
                                <img src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=los_angeles"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/LosAngeles"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/los-angeles.php" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=los_angeles"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=los_angeles"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=losangeles" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=LosAngeles" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=losangeles"
                                target="_blank"> <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=LosAngeles"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 4 - </span>Tokyo</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/tokyo.jpg" alt="compact"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html tokyo-view" href="/index?layout=tokyo"
                                target="_blank" data-attr="compact-wrap"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Tokyo" target="_blank">
                                <img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=tokyo"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=tokyo" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=tokyo" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Tokyo"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/tokyo.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=tokyo"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=tokyo"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=tokyo" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Tokyo" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=tokyo" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Tokyo"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 5 - </span>Moscow</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/moscow.jpg" alt="collapse"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html moscow-view" href="/index?layout=moscow"
                                target="_blank" data-attr="compact-small"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Moscow"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=moscow"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=moscow" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=moscow" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Moscow"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/moscow.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=moscow"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=moscow"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=moscow" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Moscow" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=moscow" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Moscow"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 6 - </span>Singapore</h3><svg class="title-svg"
                            width="51" height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/singapore.jpg" alt="enterprise"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html singapore-view" href="/index?layout=singapore"
                                target="_blank" data-attr="enterprice-type"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Singapore"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=singapore"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=singapore"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=singapore" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Singapore"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/singapore.php" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=singapore"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=singapore"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=singapore" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Singapore" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=singapore"
                                target="_blank"> <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Singapore"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 7 - </span>New York</h3><svg class="title-svg"
                            width="51" height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"> <img class="img-fluid"
                            src="/assets/images/landing/layout-images/newyork.png" alt="centralize"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html newyork-view" href="/index?layout=new_york"
                                target="_blank" data-attr="box-layout"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=NewYork"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=newyork"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=new_york" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=new_york" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/NewYork"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/newyork.php" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=new_york"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=new_york"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=newyork" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=NewYork" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=newyork" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=NewYork"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 8 - </span>Barcelona</h3><svg class="title-svg"
                            width="51" height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/barcelona.jpg" alt="further"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html barcelona-view" href="/index?layout=barcelona"
                                target="_blank" data-attr="advance-type"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Barcelona"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=barcelona"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=barcelona"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=barcelona" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Barcelona"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/barcelona.php" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=barcelona"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=barcelona"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=barcelona" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Barcelona" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=barcelona"
                                target="_blank"> <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Barcelona"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 9 - </span>Madrid</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/madrid.jpg" alt="revolutionary"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html madrid-view" href="/index?layout=madrid"
                                target="_blank" data-attr="color-sidebar"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Madrid"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=madrid"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=madrid" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=madrid" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Madrid"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/madrid.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=madrid"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=madrid"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=madrid" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Madrid" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=madrid" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Madrid"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 10 - </span>Rome</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/rome.jpg" alt="statistics"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html rome-view" href="/index?layout=rome"
                                target="_blank" data-attr="material-icon"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Rome"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=rome"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=rome" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=rome" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Rome" target="_blank">
                                <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/rome.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=rome"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=rome"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=rome" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Rome" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=rome" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Rome" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/16.png" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 11 - </span>Seoul</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/seoul.jpg" alt="trendy"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html seoul-view" href="/index?layout=seoul"
                                target="_blank" data-attr="modern-layout"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=Seoul"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=seoul"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index?layout_type=seoul" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=seoul" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/Seoul"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/seoul.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=seoul"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=seoul"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=seoul" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=Seoul" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=seoul" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=Seoul"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 demo-content">
                <div class="cuba-demo-img">
                    <ul class="dot-group">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="title-wrapper">
                        <h3 class="theme-name mb-0"> <span>Demo 12 - </span>London</h3><svg class="title-svg" width="51"
                            height="13" viewBox="0 0 51 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M45.441 5.23769C45.1147 5.6996 44.7795 6.29315 44.4287 6.79516C44.0566 7.32282 43.6848 7.82319 43.4063 8.39596C42.3695 10.5523 44.9675 9.32014 45.564 8.02855C46.1179 6.84286 46.9246 5.87434 47.5859 4.84618C47.7395 4.60397 47.9033 4.26383 48.0568 4.02163C48.5763 3.17147 49.2516 2.53511 49.937 1.82812C50.1291 1.63094 51.1206 0.323924 50.2276 0.271093C49.8167 0.249553 48.2922 0.5361 47.7883 0.639651C46.0126 0.994835 44.8002 0.761651 43.2136 0.879502C41.3566 1.01618 40.2674 1.03208 39.4223 2.48705C38.6443 3.82331 39.9175 3.32601 40.6023 3.28698C40.9682 3.2651 42.689 3.16192 42.8406 3.24726C41.0738 4.30895 39.0645 5.02824 37.0996 5.92744C35.3375 6.72902 32.5247 7.59153 30.5216 8.08443C26.1768 9.14676 21.4529 9.72998 17.427 9.37823C11.8143 8.89224 6.34249 7.27448 2.66916 3.3266C2.36354 3.00658 1.08682 1.31053 0.829574 1.29887C-0.0667404 1.26048 0.320466 3.42074 0.776292 4.07177C2.88672 7.11634 6.19576 9.41621 9.11681 10.5305C12.2801 11.735 16.1782 12.6293 20.1937 12.5475C25.0767 12.443 28.6501 11.8499 33.6912 10.4322C36.8488 9.54622 39.9123 8.1382 42.764 6.70735C43.2704 6.44645 45.1753 5.30309 45.441 5.23769Z"
                                fill="#41B883"></path>
                        </svg>
                    </div>
                    <div class="overflow-hidden"><img class="img-fluid"
                            src="/assets/images/landing/layout-images/landon.png" alt="blank"></div>
                    <div class="hover-link">
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="HTML with bootstrap 5"><a class="html landon-view" href="/index?layout=london"
                                target="_blank" data-attr="default-body"><img
                                    src="/assets/images/landing/stroke-icon/1.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Vue 3"><a
                                href="https://vue.pixelstrap.com/cuba/dashboard/default?layout=London"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/3.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Angular"><a
                                href="https://angular.pixelstrap.com/cuba/dashboard/default?layout=london"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/2.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Django 4.0.4"><a
                                href="https://cubadjango.pixelstrap.com/index" target="_blank"><img
                                    src="/assets/images/landing/stroke-icon/6.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Flask"><a
                                href="https://cubaflask.pixelstrap.com/index?layout_type=london" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/7.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="React Context"><a
                                href="https://react.pixelstrap.com/cuba-context/dashboard/default/London"
                                target="_blank"> <img src="/assets/images/landing/stroke-icon/4.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"><a
                                href="https://php.pixelstrap.com/cuba/london.php" target="_blank"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/8.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Laravel 11"><a
                                href="https://laravel.pixelstrap.com/cuba/admin/default-dashboard?layout=london"
                                target="_blank"><img src="/assets/images/landing/stroke-icon/5.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nodejs"><a
                                href="https://cuba-nodejs-pixelstrap.herokuapp.com/index?layout_type=london"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/10.svg"
                                    alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Codeigniter"><a
                                href="https://codeigniter.pixelstrap.com/cuba/public/" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/9.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Coming soon"><a
                                href="javascript:void(0)"><img class="img-fluid"
                                    src="/assets/images/landing/stroke-icon/12.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title=".Net Core 7"><a
                                href="http://cubanet.pixelstrap.com/Dashboard/Index?id=london" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/13.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuxt"><a
                                href="https://cuba-nuxt.vercel.app/?layout=London" target="_blank"><img
                                    class="img-fluid" src="/assets/images/landing/stroke-icon/14.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Next js"><a
                                href="https://cuba-nextjs.vercel.app/dashboard/default?layout=london" target="_blank">
                                <img class="img-fluid" src="/assets/images/landing/stroke-icon/15.svg" alt=""></a></div>
                        <div class="link-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Svelte"><a
                                href="https://cuba-svelte.vercel.app/dashboard/default?layout=London"
                                target="_blank"><img class="img-fluid" src="/assets/images/landing/stroke-icon/16.png"
                                    alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>