<section class="pricing-section section-space pt-0">
    <ul class="decoration">
        <li class="loader-line-gif"><img src="/assets/images/landing/gifs/6.gif" alt=""></li>
        <li class="loader-gif"><span class="loader-1"></span></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="landing-title text-start">
                    <h5 class="sub-title">Our license</h5>
                    <h2>Take a Look at Our <span class="gradient-12">Engagement Models</span></h2>
                    <p class="mx-0">We've made it simple for customers to get in touch with us and get their
                        solutions woven. We definitely make sure to present ourselves in the best light
                        and provide the most value for the money.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="pricing-box">
                            <h4>Regular License</h4>
                            <p>Use by you in a single product where user <span class="font-primary">are not
                                    charged.</span></p>
                            <ul class="license-list">
                                <li> <img src="/assets/images/landing/icon/right.svg" alt="Right icon">
                                    <h6 class="f-light">Support for 6 months</h6>
                                </li>
                                <li> <img src="/assets/images/landing/icon/right.svg" alt="Right icon">
                                    <h6 class="f-light">Free future template updates</h6>
                                </li>
                                <li> <img src="/assets/images/landing/icon/wrong.png" alt="Wrong icon">
                                    <h6 class="f-light">Use in an end product that's sold</h6>
                                </li>
                            </ul>
                            <div class="purchase-details">
                                <h2>$24.00</h2><a class="btn btn-primary btn-lg rounded-pill purchase-btn"
                                    href="https://1.envato.market/3GVzd">Purchase now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="pricing-box">
                            <h4>Extended License</h4>
                            <p>Use by you in a single product where user <span class="font-primary">are charged.</span>
                            </p>
                            <ul class="license-list">
                                <li> <img src="/assets/images/landing/icon/right.svg" alt="Right icon">
                                    <h6 class="f-light">Support for 6 months</h6>
                                </li>
                                <li> <img src="/assets/images/landing/icon/right.svg" alt="Right icon">
                                    <h6 class="f-light">Free future template updates</h6>
                                </li>
                                <li> <img src="/assets/images/landing/icon/right.svg" alt="Right icon">
                                    <h6 class="f-light">Use in an end product that's sold</h6>
                                </li>
                            </ul>
                            <div class="purchase-details">
                                <h2>$499.00</h2><a class="btn btn-primary btn-lg rounded-pill purchase-btn"
                                    href="https://1.envato.market/3GVzd">Purchase now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>