<section class="section-space customer-support">
    <div class="container">
        <ul class="decoration d-sm-block d-none">
            <li class="round-gif"><img src="/assets/images/landing/gifs/5.gif" alt=""></li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="landing-title text-center">
                    <div class="rating-title gap-2"><img class="decore-1"
                            src="/assets/images/landing/decore/arrow-3.svg" alt="">
                        <ul class="d-flex ratings gap-1">
                            <li> <i class="fa fa-star"></i></li>
                            <li> <i class="fa fa-star"></i></li>
                            <li> <i class="fa fa-star"></i></li>
                            <li> <i class="fa fa-star"></i></li>
                            <li> <i class="fa fa-star"></i></li>
                        </ul>
                        <h6 class="rating-title mb-0">4.5 <span class="f-light">(110 rating)</span></h6>
                    </div>
                    <h2> <span class="gradient-1">Thousands </span> of customers love us</h2>
                    <p>The marketer's goal is to help customers feel confident about their choice. Just providing more
                        information often doesn't help</p>
                </div>
            </div>
            <div class="col-xxl-10">
                <div class="row customer-wrap">
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img src="/assets/images/landing/customers/1.svg" alt="">
                                <h6 class="f-light mb-0 mt-2">Top rated template</h6>
                            </div><img class="outline-box" src="/assets/images/landing/decore/arrow-style-1.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img src="/assets/images/landing/customers/2.svg" alt="">
                                <h6 class="f-light mb-0 mt-2">Highest selling template</h6>
                            </div><img class="outline-box" src="/assets/images/landing/decore/arrow-style-2.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img src="/assets/images/landing/customers/3.svg" alt="">
                                <h6 class="f-light mb-0 mt-2">Super easy to deploy</h6>
                            </div><img class="outline-box" src="/assets/images/landing/decore/arrow-style-3.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img src="/assets/images/landing/customers/4.svg" alt="">
                                <h6 class="f-light mb-0 mt-2">Fast Customer Support</h6>
                            </div><img class="outline-box" src="/assets/images/landing/decore/arrow-style-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>