<section class="section-space about-section pb-5 mb-5">
    <div class="container-fluid fluid-space">
        <div class="row">
            <div class="col-sm-12">
                <div class="landing-title text-center">
                    <h5 class="sub-title">Best Customer Feedback</h5>
                    <h2>The opinions of our <span class="gradient-10">valuable </span> Customers</h2>
                    <p>we are always be there for your issues and support.if any query you can ask us on our theme
                        supports</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="testimonial-slider">
                    <div class="testimonial-box common-card">
                        <div class="rating-content">
                            <ul class="d-flex ratings gap-1">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h6 class="mb-0">Feature Availability</h6>
                        </div>
                        <p class="f-light">Great Template, bought two in less than a week. For this price it is
                            ridiculous not to purchase it. Beautiful design all across. Prebuilt integration with
                            firebase auth, light and dark theme.</p>
                        <p class="f-light">A very very good template.</p>
                        <div class="text-end mt-2">
                            <h5>flucadetena</h5><span class="font-primary">CUSTOMER</span>
                        </div>
                        <div class="customer-img"><img src="/assets/images/landing/testimonial/1.svg" alt="vector men">
                        </div>
                    </div>
                    <div class="testimonial-box common-card">
                        <div class="rating-content">
                            <ul class="d-flex ratings gap-1">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h6 class="mb-0">Design Quality</h6>
                        </div>
                        <p class="f-light">I really love the Design.</p>
                        <p class="f-light"> I am using the React Option btw.</p>
                        <p class="f-light"> The Documentation is great and for 5$ you can't do anything wrong here.Its
                            pretty easy to swap out the default design or implement a dark mode. I wish there was a tsx
                            version(React Typescript) out of the box. But even wighout its great to work with.</p>
                        <div class="text-end mt-2">
                            <h5>MenschenToaster</h5><span class="font-primary">CUSTOMER</span>
                        </div>
                        <div class="customer-img"><img src="/assets/images/landing/testimonial/2.svg" alt="vector men">
                        </div>
                    </div>
                    <div class="testimonial-box common-card">
                        <div class="rating-content">
                            <ul class="d-flex ratings gap-1">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h6 class="mb-0">Code Quality</h6>
                        </div>
                        <p class="f-light">Design, code quality, documentation, features, and best part is easy to
                            integrate in project. This is a great product with great support. I loved the code quality
                            which reduced my project time.</p>
                        <div class="text-end mt-2">
                            <h5>manthandesai999 </h5><span class="font-primary">CUSTOMER</span>
                        </div>
                        <div class="customer-img"><img src="/assets/images/landing/testimonial/3.svg"
                                alt="vector women"></div>
                    </div>
                    <div class="testimonial-box common-card">
                        <div class="rating-content">
                            <ul class="d-flex ratings gap-1">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h6 class="mb-0">Code Quality</h6>
                        </div>
                        <p class="f-light">This is amazing! Seriously great job right here. Please increase price
                            because you are simply offering this nearly for free.</p>
                        <div class="text-end mt-2">
                            <h5>maidot</h5><span class="font-primary">CUSTOMER</span>
                        </div>
                        <div class="customer-img"><img src="/assets/images/landing/testimonial/1.svg" alt="vector men">
                        </div>
                    </div>
                    <div class="testimonial-box common-card">
                        <div class="rating-content">
                            <ul class="d-flex ratings gap-1">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h6 class="mb-0">Customer Support</h6>
                        </div>
                        <p class="f-light">Customer support is excelent. whenever have problem and not uderstand their
                            support section always helps me. and Admin panel is very nice. Thanks</p>
                        <div class="text-end mt-2">
                            <h5>mahbuburriad</h5><span class="font-primary">CUSTOMER</span>
                        </div>
                        <div class="customer-img"><img src="/assets/images/landing/testimonial/2.svg" alt="vector men">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>