<section class="section-space premium-wrap banner-box">
    <div class="container">
        <ul class="decoration">
            <li class="flower-gif">
                <div class="mesh-loader">
                    <div class="set-one">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="set-two">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </li>
            <li class="wavy-gif"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 38">
                    <path fill="none" stroke-width="10" stroke-miterlimit="10"
                        d="M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29">
                    </path>
                </svg></li>
        </ul>
        <div class="landing-center ptb50">
            <div class="row text-white">
                <div class="col-sm-12">
                    <div class="landing-title">
                        <h5 class="sub-title">Powered by trusted infrastructure</h5>
                        <h2> <span class="gradient-1">Trust-focused</span> Built for Scale.</h2>
                        <p>Powering seamless payments, smart investments, and financial growth — all in one platform.</p>
                    </div>
                    <div class="vector-image"> <img src="/assets/images/landing/vectors/1.svg" alt=""></div>
                </div>
            </div>
            <div class="row text-white" style="margin-left: 20%;">
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
                        <h4>100% Secure Payments</h4>
                        <p>Moving your card details to a much more secured place.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
                        <h4>Trust pay</h4>
                        <p>100% Payment Protection. Easy Return Policy.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
                        <h4>Refer &amp; Earn</h4>
                        <p>Invite a friend to sign up and earn up to $100.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
                        <h4>24X7 Support</h4>
                        <p>We're here to help. Have a query and need help ? <a href="#">Click here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>